<h1>List all snippets</h1>
<%= link_to 'New Snippet', new_snippet_path %>
<table>
<tr>
	<th>Title</th>
	<th>Text</th>
	<th colspan="2"></th>
</tr>
<%= @snippets.each do |snippet|  %>
	<tr>
		<td><%= snippet.title %></td>
		<td><%= snippet.text %></td>
		<td><%= link_to 'Show', snippet_path(snippet) %></td>
		<td><%= link_to 'Edit', edit_snippet_path(snippet) %></td>
	</tr>
<% end %>
</table>

